.container
  h1 RUBYC-2014 Video Report

  p On May 31 - June 1, 2014 the second Ruby, Ruby on Rails and satellite technologies conference – Rubyc - took place in Kiev. More than 250 rubyists gathered to hear talks from the best developers on Ruby from Ukraine, USA, Brazil, Spain, UK, Germany and Russia.
  <p>he organizer, Svitla Systems company, expresses gratitude to all participants of the conference, General Sponsor - <a href='http://softserve.ua/'>SoftServe</a>, Ruby-sponsors: <a href='http://www.dataart.com/'>DataArt</a> and <a href='http://www.globallogic.com.ua/'>Global Logic</a>, as well as all media-partners. Friends, only with your support we managed to hold one of the brightest Ruby events in Ukraine.</p>
  <p>Full video reviews of all speakers’ performances are traditionally available on the website of the conference: <a href='http://rubyc.eu/'>rebyc.eu</a></p>

  h2 Day 1

  p The first day started with Jeremy Evans and his presentation "Give-and-Go with PostgreSQL and Sequel".
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/toAcnwqlU1Q?rel=0" frameborder="0" allowfullscreen></iframe>

  p The next presenter, Ben Lovell was a great fun, nevertheless his topic “Building fast, testable and sane APIs with rails” seemed to be a challenging indeed.
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/18JQRlUC2QA?rel=0" frameborder="0" allowfullscreen></iframe>


  p Followed by Svitla Systems team lead – Marat Kemenshikov with an interesting topic "How we got max speed for JSON processing in a Rails API app".
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/jPZ5nFrL0D0?rel=0" frameborder="0" allowfullscreen></iframe>

  p After lunch Rubyc continued with a very special guest from our Ruby-sponsor — DataArt company – Kirill Timofeev. That was an entertaining and mysterious journey through time and space to the external world to λ-calculus. If you have not experienced it yet — here is your chance!
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/Q7YRXGR3TA8?rel=0" frameborder="0" allowfullscreen></iframe>

  p We were very pleased to see Ukrainian developers among our speakers. We proudly present Evgeniy Pirogov and his topic “Communication problems within complex projects: lessons learned from real life” and Bogdan Gusev with a presentation named "How to create parsers in ruby. Rails Router as example".
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/XC9fgFWGyZ8?rel=0" frameborder="0" allowfullscreen></iframe>
    <iframe width="853" height="480" src="//www.youtube.com/embed/OlXdngQUix8?rel=0" frameborder="0" allowfullscreen></iframe>


  p And yet another speaker of the first day – a guest from Spain – Javier Ramires gave a smooth speech about Bigdata. One of the most interesting topics on Rubyc.
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/KHrZCpprD6Y?rel=0" frameborder="0" allowfullscreen></iframe>

  h2 Day 2

  p The second day started with Steve Klabnik’s presentation; learn more about Rust from the following video.
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/Q5MLIY1oa1s?rel=0" frameborder="0" allowfullscreen></iframe>

  p Alexandre de Oliveira from Brasil, was a totally new speaker for Ukrainian Ruby community. Nevertheless his presentation “Forget about classes, welcome objects” was very interesting and totally worth listening to.
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/Vb8ybJuL2Xw?rel=0" frameborder="0" allowfullscreen></iframe>

  p David Henner gave a really profound speech about Architecting Ecommerce Huge objects. Quite a knowhow for those, who work within this subject.
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/BVzSMhaucUY?rel=0" frameborder="0" allowfullscreen></iframe>

  p Jeremy Evans, an experienced developer from US, gathered a lot of attention from Rubyc guests after his both speeches. His second topic “Deep Dive into Eager Loading Limited Associations” provoked a great deal of questions while the after-party.
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/KbF7RMk_2Qo?rel=0" frameborder="0" allowfullscreen></iframe>

  <p>We were very pleased to see <b>Timofey Tsvetkov</b> among RubyC speakers this year. Many said it would be a real challenge to have a Russian speakers in Kiev, but everything went great! So have fun as we did listening to “<b>GC in Ruby from 1.9 to 2.2</b>”.</p>
  p
    <iframe width="853" height="480" src="//www.youtube.com/embed/iGlcG4Oj-40?rel=0" frameborder="0" allowfullscreen></iframe>


  <p>And the last two presentations were given by our German speaker - <b>Konstantin Tennhard</b>.</p>
  h3 Konstantin Tennhard - Large Scale Rails Applications
  <iframe width="853" height="480" src="//www.youtube-nocookie.com/embed/-YMJz6lXRc8?rel=0" frameborder="0" allowfullscreen></iframe>
  h3 Konstantin Tennhard - View Components for Rails Applications
  <iframe width="853" height="480" src="//www.youtube.com/embed/1OEQaxpGzYM?rel=0" frameborder="0" allowfullscreen></iframe>
