h2 Our Sponsors

/ p.sponsors.text-center
/   =link_to image_tag('codeschool.png')
/   =link_to image_tag('dotpromo.jpg')
/   =link_to image_tag('engineyard.png')
/   =link_to image_tag('incomm.png')
/   =link_to image_tag('rubygarage.jpg')
/   =link_to image_tag('digitalocean.png')
/   =link_to image_tag('elasticsearch.png')
/   =link_to image_tag('github.png')
/   =link_to image_tag('railsware.png')
/   =link_to image_tag('wix.png')

h4.text-center Interested in sponsoring? Email us at #{link_to 'n.beregova@svitla.com', 'mailto:n.beregova@svitla.com'}
