h2 Tickets
p.text-center
  <script type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js"></script><iframe src="https://www.amiando.com/XIUUCHD.html?viewType=iframe&distributionChannel=CHANNEL_IFRAME&panelId=2215564&useDefaults=false&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame22155646vyfUdj1" id="_amiandoIFrame22155646vyfUdj1"><p>This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.</p><p> Try out the <a href="http://www.amiando.com/">online event registration system</a> from amiando.</p></iframe>
  / <p style="text-align: left; font-size:10px;"><a href="http://www.amiando.com" target="_blank" alt="conference - Online Event Management" title="conference - Online Event Management" >conference - Online Event Management</a> with the ticketing solution amiando</p>
