h2 Venue address
.container
  .col-md-5.col-xs-12
    .address
      = link_to "https://maps.google.com/?q=Smolenska St, 31/33, Kiev, Ukraine", target: '_blank' do
        .title  Business Center "Incom"
        .street Smolenska St, 31/33
        .city Kiev, Ukraine
      = image_tag ('bc-incom.jpg')

  .col-md-7.col-xs-12
    #map-canvas

coffee:
  map = undefined
  markers = []

  addMarker = (map, location) ->
    marker = new google.maps.Marker(
      position: location
      map: map
    )
    markers.push marker


  initialize = ->
    coords = new google.maps.LatLng(50.451128, 30.445379000000003)

    mapOptions =
      center: coords
      zoom: 12

    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions)
    addMarker(map, coords)

  google.maps.event.addDomListener window, "load", initialize

