h2 Venue address
.container
  .col-sm-5.text-right
    .address
      .title  Svitla Ceremony Hall
      .street Nikolsko-Slobodska, 2b
      .city Kiev, Ukraine

  .col-sm-7#map
    p= image_tag 'map.png'
    javascript:
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": 0,
            "lng": 0,
            "picture": {
              "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
              "width":  36,
              "height": 36
            },
            "infowindow": "hello!"
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
