/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

$orange-light: #faa870;

body {
  margin-top: 72px;
  padding-bottom: 0;
}

section {
  padding-bottom: 20px;
}

// NAVBAR
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}


section {

  h1,
  h2 {
    @extend .text-center;
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    color: $orange-light;
    font-weight: bold;
    font-size: 2.5em;
    border-bottom: 1px dashed #faa870;
    padding-bottom: 5px;
    padding-top: 10px;
  }
}

#become,
#hotels,
#tickets {
  background: $gray-lighter;

  a {
    color: $orange-light;
  }
}

.sponsors {
  a {
    display: inline-block;
    padding: 10px;
    margin: 10px 10px;

    &:hover {
      outline: 1px solid $gray-lighter;
      background: $gray-lighter;
    }

    img {
      background: white;
      max-width: 120px;
    }
  }
}

// Footer
.footer {
  margin-top: 1em;
  text-align: center;
  font-size: $font-size-small;
}

// Header
#header {
  margin-top: 10px;
  .navbar {
    a {
      color: #b4b4b4;
      font-weight: bold;
      padding: 5px 30px 0px 30px;

      &:hover {
        color: $orange-light;
        background: none;
      }

      &:active {
        color: orange;
      }
    }

    li {
      padding: 15px 0px;
    }

    li:not(:last-child) {
      a {
        border-right: 1px dotted #ffdbbb;
      }
    }
  }
  // border-bottom: 1px solid #ffdbbb;
}

// Overview section
#overview {
  font-size: 1.5em;
  border-top: 2px solid #ffdbbb;
  background: url(image-path('overview-bg.jpg')) repeat-x center top;
  h1 {
    font-weight: bold;
    color: #f8841c;
    text-shadow: 1px 1px 1px rgba(126, 126, 126, 1);
    border-bottom: 1px solid #b4b4b4;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  @media(max-width: $screen-sm){
    h1 {
      font-size: 2em;
    }
  }

  @media(min-width: $screen-sm){
    h1 {
      font-size: 3em;
    }
  }

  @media(min-width: $screen-md){
    h1 {
      font-size: 3.5em;
    }
  }

  @media(min-width: $screen-lg){
    h1 {
      font-size: 4em;
    }
  }

  height: 609px;
  padding-bottom: 200px;

  #announce {
    @extend .text-center;
    margin: 1.5em 1em;
  }

  #buy {
    @extend .text-center;

    a.btn {
      @include gradient-vertical(#26c91e, #22b21b);

      &:active {
        @include gradient-vertical(#22b21b, #26c91e);
      }

      padding: 10px 55px;

      img {
        vertical-align: top;
        margin-right: 5px;
      }

      span.caption {
        text-shadow: 1px 1px 1px rgba(85, 85, 85, 1);
      }
    }

    p.price {
      color: $orange-light;
      font-size: 0.666667em;
      font-weight: bold;
    }

    p.description {
      font-size: 0.5em;
      // color: #aaa5a5;
      width: 33.333333%;
      margin: 0px auto;
    }
  }
}

#when,
#where {
  font-weight: bold;
  font-size: 1.5em;
  display: inline;
}

#when {
  background: url(image-path('when.png')) no-repeat left center;
  padding-left: 40px;
}

#where {
  background: url(image-path('where.png')) no-repeat left center;
  padding-left: 30px;
}

@media(max-width: $screen-sm){
  .when-wrapper,
  .where-wrapper {
    text-align: center;
  }
}

@media(min-width: $screen-sm){
  .when-wrapper {
    border-right: 1px dotted silver;
    text-align: right;
  }

  #where {
  }

  #when {
  }
}

// Speakers
#speakers {
  background: #ec9241;

  h1,
  h2,
  h3 {
    color: white;
  }

  h2 {
    border-bottom: 1px dashed white;
    padding-bottom: 10px;
    margin-bottom: 1em;
  }
}

.speaker {
  display: block;
  margin-top: 1em;
  .foto {
    display: block;
    width: 124px;
    height: 124px;
    overflow: hidden;
    text-align: center;
    margin-right: 1em;
    float: left;
    border: 2px solid white;
    border-radius: 5px;
    img {
      max-width:  100%;
      max-height: 100%;
    }
  }
  h3 {
    margin-top: 0;
  }
}

#hotels {
  .hotels-table {
    border: 3px solid white;
    border-radius: 5px;
    padding: 0px 50px;
    margin-top: 20px;
  }

  p {
    @extend .text-center;
  }

  table.hotels {
    width: 100%;

    thead {
      tr {
        th {
          color: $orange-light;
          border-bottom: 2px solid $orange-light;
          background: no-repeat 0 20px;
          vertical-align: bottom;
          padding-top: 20px;
          padding-bottom: 10px;

          &.hostel {
            background-image: url(image-path('hostel.png'));
            padding-left: 40px;
          }
          &.hotel {
            background-image: url(image-path('hotel.png'));
            padding-left: 30px;
          }
          &.phone{
            background-image: url(image-path('phone.png'));
            padding-left: 35px;
          }
          &.distance{
            background-image: url(image-path('distance.png'));
            padding-left: 25px;
          }
          &.url{
            background-image: url(image-path('url.png'));
            padding-left: 40px;
          }

        }
      }
    }

    tbody {
      tr:nth-child(even) > td {
        background-color: white;
      }

      tr:nth-child(odd) > td {
        background: none;
      }

      tr {
        td {
          border: none;
        }
      }
    }
  }
  padding-bottom: 50px;
}

#agenda {
  p.description {
    @extend .text-center;
    color: $gray-light;
  }

  .subject {
    font-weight: bold;
  }

  .when,
  .subject,
  .speaker {
    display: inline;
    direction: ltr;
  }

  h3 {
    font-size: 1.2em;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 18px;
  }

  .session {
    font-size: 0.9em;
    margin-bottom: 15px;
  }

  .day1 {
    h3 {
      text-align: right
    }
    .session {
      direction: rtl;

      .when {
        padding-left: 25px;
        background: url(image-path('left.png')) no-repeat left center;
      }
      .subject { margin: 0 15px }
    }
    border-right: 1px solid $gray-lighter;
  }

  .day2 {
    h3 {
      text-align: left;
    }
    .session {
      direction: ltr;

      .when {
        padding-right: 25px;
        background: url(image-path('right.png')) no-repeat right center;
      }
      .subject { margin: 0 15px }
    }
  }
}

#venue {
  @media(max-width: $screen-md){
    #map-canvas {
      height: 300px;
    }
  }

  @media(min-width: $screen-md){
    .address {
      text-align: right;
    }
    #map-canvas {
      height: 500px;
    }
  }
}


#footer {
  background: #6c6c6c;
  border-top: 7px solid #868686;
  color: white;

  a {
    color: $orange-light;
  }
}
