/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

body {
  margin-top: 72px;
}

section {
  h1 {
    @extend .text-center;
    font-weight: bold;
  }
}

.sponsors {
  a {
    margin: 10px;
    img {
      max-width: 120px;
    }
  }
}

// Footer
.footer {
  margin-top: 1em;
  text-align: center;
  font-size: $font-size-small;
}

// Header
#header {
  margin-top: 10px;
  .navbar {
    a {
      color: #b4b4b4;
      font-weight: bold;
      padding: 5px 30px 0px 30px;
    }

    a:active {
      color: orange;
    }

    li {
      padding: 15px 0px;
    }

    li:not(:last-child) {
      a {
        border-right: 1px dotted #ffdbbb;
      }
    }
  }
  // border-bottom: 1px solid #ffdbbb;
}

// Overview section
#overview {
  font-size: 1.5em;
  border-top: 2px solid #ffdbbb;
  background: url('/assets/overview-bg.jpg') repeat-x center top;
  h1 {
    font-size: 4em;
    font-weight: bold;
    color: #f8841c;
    text-shadow: 1px 1px 1px rgba(126, 126, 126, 1);
    border-bottom: 1px solid #b4b4b4;
    padding-bottom: 30px;
  }
  height: 609px;
  padding-bottom: 200px;

  #buy {
    @extend .text-center;
    p {
      font-size: 0.666667em;
    }
  }
}

#when-where {
  margin-left: 200px;
}

#when,
#where {
  font-weight: bold;
  font-size: 1.5em;
  display: inline;
}

#when {
  background: url('/assets/when.png') no-repeat left center;
  padding-left: 40px;
  padding-right: 40px;
  border-right: 1px dotted #b4b4b4;
}

#where {
  background: url('/assets/where.png') no-repeat left center;
  padding-left: 30px;
  margin-left: 40px;
}


#speakers {
  background: #ec9241;

  h1,
  h2,
  h3 {
    color: white;
  }

  h1 {
    border-bottom: 1px dashed white;
    padding-bottom: 10px;
  }
}

// Speakers

.speaker {
  clear: both;
  display: block;
  .foto {
    display: block;
    width: 124px;
    height: 124px;
    overflow: hidden;
    text-align: center;
    margin-right: 1em;
    float: left;
    border: 2px solid white;
    border-radius: 5px;
  }
}
